.status-card {
  background-color: white;
  width: 800px; /* 데스크톱에서 최대 너비 */
  padding: 10px;
  max-width: 100%; /* 부모 요소를 벗어나지 않도록 설정 */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.status-card:hover {
  background-color: rgba(238, 30, 30, 0.1);
}

.radio-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-col .wishlist-image {
  width: 100%; /* 이미지 너비를 컬럼 너비에 맞춤 */
  max-width: 80px; /* 이미지 최대 크기 고정 */
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.wish-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish-delete-btn {
  background-color: white;
  color: black;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wish-delete-btn:hover {
  background-color: #d9534f;
  color: white;
}
