.card img {
  width: 100%; /* 이미지 너비를 카드 너비에 맞춤 */
  display: block;
}

.wishlist-btn {
  position: absolute;
  top: 10px; /* 이미지 상단에서의 거리 */
  right: 10px; /* 이미지 오른쪽에서의 거리 */
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1; /* 버튼이 이미지 위에 위치하도록 설정 */
}
